<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans         
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd        
      http://www.springframework.org/schema/aop         
      http://www.springframework.org/schema/aop/spring-aop-4.0.xsd        
      http://www.springframework.org/schema/context         
      http://www.springframework.org/schema/context/spring-context-4.0.xsd        
      http://www.springframework.org/schema/tx         
      http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
      http://www.springframework.org/schema/cache 
      http://www.springframework.org/schema/cache/spring-cache-4.0.xsd">
	<!-- <bean id="..." class="..."> collaborators and configuration for this 
		bean go here </bean> <bean id="..." class="..."> collaborators and configuration 
		for this bean go here </bean> more bean definitions go here -->

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/hw1?autoReconnect=true" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- 配置sessionFactory -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="edu.nju.model" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.autocommit">true</prop>
			</props>
		</property>

	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="LoginAction" class="edu.nju.action.LoginAction">
	</bean>	
	
	<bean id="RegisterAction" class="edu.nju.action.manager.RegisterAction">
	</bean>	
	
	<bean id="FileHandler" class="edu.nju.action.manager.StudentRegister">
	</bean>	
	
	<bean id="TeacherRegister" class="edu.nju.action.manager.TeacherRegister">
	</bean>	
	
	<bean id="DeleteUser" class="edu.nju.action.manager.DeleteUser">
	</bean>	
	
	<bean id="ModifyStu" class="edu.nju.action.manager.ModifyStu">
	</bean>	
	
	<bean id="SearchStu" class="edu.nju.action.manager.SearchStu">
	</bean>	
	
		<bean id="ModifyTea" class="edu.nju.action.manager.ModifyTea">
	</bean>	
	
		<bean id="DeleteTeacher" class="edu.nju.action.manager.DeleteTeacher">
	</bean>	
	
		<bean id="Jump" class="edu.nju.action.manager.Jump">
	</bean>	
	
		<bean id="SelectStu" class="edu.nju.action.manager.SearchStu">
	</bean>	
	
		<bean id="JumpTeaching" class="edu.nju.action.manager.JumpTeaching">
	</bean>	
	
		<bean id="AddTerm" class="edu.nju.action.manager.AddTerm">
	</bean>	
	<bean id="AddCourse" class="edu.nju.action.manager.AddCourse">
	</bean>	
	
		<bean id="deleteCourse" class="edu.nju.action.manager.AddCourse">
	</bean>	
	
		<bean id="modifyCourse" class="edu.nju.action.manager.AddCourse">
	</bean>	
	
		<bean id="ToCourse" class="edu.nju.action.teacher.ToCourse">
	</bean>	
	
		<bean id="ToCourseInfo" class="edu.nju.action.teacher.CourseInfo">
	</bean>	
	
		<bean id="AddAssistant" class="edu.nju.action.teacher.AddAssistant">
	</bean>	
	
		<bean id="JumpTeacher" class="edu.nju.action.teacher.JumpTeacher">
	</bean>	
	
		<bean id="JumpHomework" class="edu.nju.action.teacher.JumpHomework">
	</bean>
	
		<bean id="ModifyInfo" class="edu.nju.action.teacher.SaveInfo">
	</bean>	
	
		<bean id="JumpToCourse" class="edu.nju.action.teacher.JumpToCourse">
	</bean>
	
		<bean id="AddSelect" class="edu.nju.action.teacher.AddSelect">
	</bean>	
	
		<bean id="AddHomework" class="edu.nju.action.teacher.AddHomework">
	</bean>	
	
		<bean id="SubmitEg" class="edu.nju.action.teacher.SubmitEg">
	</bean>	
		<bean id="CheckHw" class="edu.nju.action.teacher.CheckHw">
	</bean>	
	
	<!-- 定义 Autowired 自动注入 bean -->
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<!-- 扫描有注解的文件 base-package 包路径 -->
	<context:component-scan base-package="edu.nju" />
	<!-- 声明式容器事务管理 ,transaction-manager指定事务管理器为transactionManager -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*User" propagation="REQUIRED" />
			<tx:method name="*" propagation="NOT_SUPPORTED" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<!-- 定义切面，在edu.nju.onlinestock.service包及子包中所有以Service结尾的方法中,执行有关的hibernate session的事务操作 -->
	<aop:config>
		<!-- 只对业务逻辑层实施事务 -->
		<aop:pointcut id="serviceOperation"
			expression="execution( * edu.nju.service..*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />
	</aop:config>
</beans>